{% extends 'medical_website/base.html' %}
{% block content %}
<div class="row mb-5"></div>
<div class="row mb-5"></div>
<div class="row mb-5"></div>
<div class="row mb-5"></div>
<div class="container">
    <div class="row">
        <div class="col-5">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p}}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Войти
                    </button>
                    <a href="{% url 'users:password_reset' %}" class="link-primary link-offset-2" >Забыли пароль?</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
