{% extends "medical_website/base.html" %}
{% load i18n %}
<div class="row mb-5"></div>
<div class="row mb-5"></div>
<div class="row mb-5"></div>
<div class="row mb-5"></div>
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<p>{% translate "Пароль изменен. Пройдите по ссылке для регистрации." %}</p>

<p><a href= "{% url 'users:login' %}">{% translate 'Авторизоваться' %}</a></p>

{% endblock %}
